.container {
  width: 100vw;
  height: 1120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 900px) {
  .container {
    height: 680px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    height: 1230px;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: auto;
  position: absolute;
  top: -70px;
  background-color: var(--white);
  padding: 15px;
}
@media screen and (max-width: 550px) {
  .gridContainer {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0px;
  }
}
.gridItem {
  min-width: 400px;
  height: 400px;
  background-color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .gridItem {
    min-width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 550px) {
  .gridItem {
    max-width: 520px;
  }
}
.gridItem:nth-child(3) {
  grid-column: 1 / span 2;
}
@media screen and (max-width: 550px) {
  .gridItem:nth-child(3) {
    grid-column: 1;
  }
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.05);
}
.imageTextWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.imageTextWrapper:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.imageTextWrapper:hover .itemText {
  visibility: visible;
}
.itemHeader {
  color: var(--white);
  font-weight: 300;
  font-size: 32px;
}
@media screen and (max-width: 900px) {
  .itemHeader {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .itemHeader {
    font-size: 28px;
  }
}
.itemText {
  color: var(--white);
  font-weight: 300;
  font-size: 20px;
  transition: all 0.2s;

  visibility: hidden;
}

@media screen and (max-width: 900px) {
  .itemText {
    font-size: 13px;
  }
}
@media screen and (max-width: 550px) {
  .itemText {
    font-size: 14px;
  }
}
