.container {
    width: 100%;
    height: autp;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
 
  .right {
    display: flex;
    flex-direction: column;
  }
  .logo {
    font-size: 32px;
    margin: 0;
    color: navy;
    font-weight: 300;
  }
  .span {
    font-weight: 700;
    color: grey;
  }
  .ul {
    font-size: 18px;
    font-weight: 700;
    color: grey;
    text-align: left;
    list-style-type: none;
    line-height: 25px;
    margin: 0;
  }
  .list {
    font-size: 18px;
    font-weight: 400;
  }