.container {
  width: 100%;
  height: autp;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
@media screen and (max-width: 550px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
  }
}

.right {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 32px;
  margin: 0;
  color: var(--white);
  font-weight: 300;
  height: 150px;
  width: 150px;
}
@media screen and (max-width: 550px) {
  .logo {
    height: 100px;
    width: 100px;
  }
}
.span {
  font-weight: 600;
  color: var(--white);
}
.ul {
  font-size: 18px;
  color: var(--white);
  text-align: left;
  list-style-type: none;
  line-height: 25px;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}
@media screen and (max-width: 550px) {
    .ul {
      text-align: center;
    }
  }
.list {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
@media screen and (max-width: 550px) {
  .list {
    font-size: 13px;
    line-height: 18px;
  }
}
