body {
  margin: 0;
  font-family: neue-haas-grotesk-display, Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}
:root {
  --primary: #0d0f54;
  --secondary: #e1e7ea;
  --dark: #171414;
  --white: #ffffff;
  --black: #000000;
  --grey: #808080;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
