body {
  margin: 0;
  font-family: neue-haas-grotesk-display, Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5885AF;

}
:root {
  --primary: #0D0F54;
  --secondary: #E1E7EA;
  --dark: #171414;
  --white: #ffffff;
  --black: #000000;
  --grey: #808080;
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
