.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  width: 100%;
  height: auto;
  z-index: 10;

  position: fixed;
  background-color: var(--white);
}
.logo {
  color: var(--primary);
  margin: 0;
  font-size: 40px;
  height: 60px;
  width: 60px;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
  color: var(--primary);
  padding: 0;
  height: fit-content;
}

.contactList {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  color: var(--primary);
}
.contact {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  color: var(--primary);
}

.navSpan {
  font-weight: 700;
}
