.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  height: auto;
  z-index: 10;

  position: fixed;
  background-color: white;
}
.logo {
  color: navy;
  margin: 0;
  font-size: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  color: navy;
}

.contactList {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    color: navy;
}
.contact {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    color: navy;
}

.navSpan {
    font-weight: 700;
}

